
<div flex="50">
    <md-content class="md-padding">
        <md-card>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="car in viewCtrl.cars">
                    <img ng-src="{{car.img}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{car.title}}</h3>
                        <h4>{{car.price}} EUR</h4>
                        <p>{{car.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>

    </md-content>
</div>